@model nt_lab3_HomeInventory.Models.Policy

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Policy</legend>

        @Html.HiddenFor(model => model.PolicyId)

        <div class="editor-label">
            @Html.LabelFor(model => model.PolicyName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PolicyName)
            @Html.ValidationMessageFor(model => model.PolicyName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PolicyNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PolicyNumber)
            @Html.ValidationMessageFor(model => model.PolicyNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CompanyName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CompanyName)
            @Html.ValidationMessageFor(model => model.CompanyName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PhoneNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PhoneNumber)
            @Html.ValidationMessageFor(model => model.PhoneNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StartDate)
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EndDate)
            @Html.ValidationMessageFor(model => model.EndDate)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
